*{
    margin: 0;
    padding: 0;
}
.main-container{
   background-color: #454545;
   color: #fff;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 100vh;
   
}
.counter{
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 250px;
    
}
.value{
    font-size: 40px;
    display:flex ;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}
.container{
    
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.decrease{
    font-size: 23px;
    border-radius: 5px;
    margin-right: 30px;
}
.reset{
    font-size: 23px;
    border-radius: 5px;
    margin-right: 30px;
}
.increase{
    font-size: 23px;
    border-radius: 5px;
    
}
.reset:hover{
    background-color: black;
    color: #fff;
}
.decrease:hover{
    background-color: black;
    color: #fff; 
}
.increase:hover{
    background-color: black;
    color: #fff;
}
